<% layout("/layouts/boilerplate") %>

<br /><br />
<div class="row">
  <div class="col-8 offset-2">
    <h1>Enter your listing here</h1>

    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="listing[title]" required>
        <div class="invalid-feedback">Please enter a valid Title</div>
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" name="listing[description]" required></textarea>
        <div class="invalid-feedback">Please enter a valid Description</div>
      </div>

      <div class="mb-3">
        <label class="form-label">Upload Listing Image</label>
        <input class="form-control" type="file" name="listing[image]" required>
        <div class="invalid-feedback">Please enter a valid image url</div>
        required
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label class="form-label">Price</label>
          <input class="form-control" type="number" name="listing[price]" required>
          <div class="invalid-feedback">Please enter a valid Price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label class="form-label">Location</label>
          <input class="form-control" type="text" name="listing[location]" required>
          <div class="invalid-feedback">Please enter a valid Location</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Country</label>
        <input class="form-control" type="text" name="listing[country]" required>
        <div class="invalid-feedback">Please enter a valid Country</div>
      </div>

      <button class="btn btn-dark mb-3 add-btn">Submit</button>
    </form>
  </div>
</div>
